.container {
    width: 1170px;
    margin: 40px auto;
    justify-content: space-between;
    display: flex;
}
.content {
    padding: 0 15px;
    width: 70%;
}
.wrap-sideBar {
    width: 30%;
    margin: 0 15px;
}
