.container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: var(--content-pc-width);
    margin-left: 50%;
    transform: translateX(-50%);
}

.heading {
    text-align: center;
}
.wrapper {
    display: flex;
}
.sidebar {
    width: 25%;
}

.title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}

.list-item {
    .item {
        list-style-type: circle;
        font-size: 1.5rem;
        margin-bottom: 10px;

        a {
            &:hover {
                color: var(--red-color);
            }
        }
    }
}

.content {
    flex: 1;
}

.info {
    .title {
        border-bottom: 1px solid #ededed;
    }

    .detail {
        margin-top: 10px;

        .text {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        .userName {
            font-size: 1.7rem;
        }
    }
}

.order {
    margin-top: 40px;
    padding: 10px;
    border: 10px solid #d9edf7;

    .text {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
}
